:root {
    --pure-white: #ffffff;
    --pure-black: #000000;
    --login-background: #eeeaeb;
    --primary-color: #f7b602;
    --styled-gray: #7b7b80;
    --search-gray: #EEEEEE;
    --light-black: #1B1C20;

    --nunito-font: Nunito, sans-serif;
}