:root {
    --pure-white: #ffffff;
    --pure-black: #000000;
    --login-background: #eeeaeb;
    --primary-color: #f7b602;
    --styled-gray: #7b7b80;
    --statistic-gray: #515151;
    --search-gray: #EEEEEE;
    --light-black: #1B1C20;

    --main-background:#FCFAF8;
    --nunito-font: Nunito, sans-serif;

    --padding-card: 20px;
}