@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
    url("./components/common/fonts/Nunito-SemiBold.ttf") format("truetype");
    font-weight: normal;
}
/*@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
    url("./components/common/fonts/Nunito-Bold.ttf") format("truetype");
    font-weight: bold;
}*/
@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
    url("./components/common/fonts/Nunito-ExtraBold.ttf") format("truetype");
    font-weight: bold;
}
