@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
    url("./components/common/fonts/Nunito-SemiBold.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
    url("./components/common/fonts/Nunito-ExtraBold.ttf") format("truetype");
    font-weight: bold;
}

.hoverer {
    transition: all .2s ease-in-out;
}

.clickable:hover {
    cursor: pointer;
}

.hoverer:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.slider {
    animation: sliderAnimation 10s linear infinite;
}

@keyframes sliderAnimation {
    0% {
        transform: translateX(300px);
        opacity: 0;
    }
    5% {
        transform: translateX(0px);
        opacity: 1;

    }
    95% {
        transform: translateX(0px);
        opacity: 1;

    }
    100% {
        transform: translateX(-300px);
        opacity: 0;
    }
}

.error {
    border: 1px solid red !important;
}

.changeImage:hover {
    cursor: pointer;

}

.changeImage:hover:after {
    opacity: 0.85;
    transition: opacity .3s ease-in-out;
}

.changeImage:after {
    transition: opacity .3s ease-in-out;
    content: '';
    position: relative;
    top: 0;
    opacity: 0.6;
    border-radius: 102px;
    background-image: url("./components/common/images/Camera.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 100%;
    z-index: 3;
}

