@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
    url("./components/common/fonts/Nunito-SemiBold.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
    url("./components/common/fonts/Nunito-ExtraBold.ttf") format("truetype");
    font-weight: bold;
}
.hoverer{
    transition: all .2s ease-in-out;
}
.clickable:hover{
    cursor: pointer;
}

.hoverer:hover{
    transform: scale(1.04);
    cursor: pointer;
}